@{
    ViewData["Title"] = "Home Page";
}

<main class="flex-shrink-0">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row d-flex align-items-center justify-content-center g-1 py-1 row-cols-1 row-cols-lg-2">
            <div class="col order-last order-lg-first">
                <h1 class="display-5 fw-bold lh-1 mb-4">RACECAR: A Coding Project</h1>
                <h4 class="lead mb-3">
                    Racecar is a palindrome. A palindrome is a word, phrase, or sequence that reads the
                    same backwards as forward. Write a program that checks if the phrase entered is a palindrome.
                </h4>
                <div class="mb-3">
                    <a type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2" asp-area="" asp-controller="Home" asp-action="Reverse">
                        Try it
                        out!
                    </a>
                </div>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            </div>
            <div class="col">
                <img class="img-fluid center-block d-block mx-auto" src="~/img/racecar.png" alt="Racecar Logo" />
            </div>


        </div>

    </div>
</main>
